body {

	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #177CC5;
	font-family: "Fira Sans", monospace;
	font-size: 16px;
	color: white;
}

canvas {
    background-color: white;
}

kbd {

	background-color: black;
	border: white 1px solid;
	padding: 5px;
	color: white;
	border-radius: 5px;
}

#container {

	position: absolute;
	left: 50%;
	top: 50%;
	width: 320px;
	height: 470px;
	background: url('../img/background.png') no-repeat;
	margin: -235px 0 0 -160px;
}

#header {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
	text-align: center;
	color: white;
    z-index: 10;
}

#logo {
    
    margin-top: 5px;
}

/* CANVAS BEGIN ----------------------------------------------------------------- */

	#screen {

		position: absolute;
		top: 55px;
		left: 5px;
	}

	#screenNextPiece {

		position: absolute;
		top: 55px;
		right: 5px;
	}

	#info {

		position: absolute;
		top: 140px;
		right: 5px;
		width: 100px;
		text-transform: uppercase;
	}

		#info .numbers {

			text-align: right;
		}

/* CANVAS END ----------------------------------------------------------------- */

/* SETTINGS BEGIN ----------------------------------------------------------------- */

	#settings	{

		position: absolute;
		top: 315px;
		right: 5px;
		width: 100px;
		height: 100px;
	}

		#buttonPause {

			position: absolute;
			top: 0;
			left: 27px;
			width: 46px;
			height: 46px;
			background-image: url('../img/button-pause.png');
			background-repeat: no-repeat;
			z-index: 3;
		}

		#buttonAudio {

			position: absolute;
			top: 46px;
			left: 0;
			width: 46px;
			height: 46px;
			background-image: url('../img/button-audio-on.png');
			background-repeat: no-repeat;
		}

		#buttonAbout {

			position: absolute;
			top: 46px;
			right: 0;
			width: 46px;
			height: 46px;
			background-image: url('../img/button-about.png');
			background-repeat: no-repeat;
			z-index: 3;
		}
	
/* SETTINGS END ----------------------------------------------------------------- */

/* BUTTONS BEGIN ----------------------------------------------------------------- */

	#buttons {

		position: absolute;
		top: 420px;
		left: 0;
		width: 100%;
		height: 50px;
		background-image: url('../img/buttons.png');
		background-repeat: no-repeat;
	}
		.buttonRound {

			width: 25%;
			height: 50px;
			text-align: center;
			font-size: 50px;
			line-height: 50px;
            width: 46px;
            height: 46px;
            background-repeat: no-repeat;
		}

		#buttonLeft {

			position: absolute;
			top: 0;
			left: 15px;
		}

		#buttonRight {

			position: absolute;
			top: 0;
			left: 254px;
		}


		#buttonDown {

			position: absolute;
			top: 0;
			left: 95px;
		}


		#buttonRotate {

			position: absolute;
			top: 0;
			left: 174px;
		}

/* END BUTTONS ----------------------------------------------------------------- */

/* PAUSE ------------------------------------------------------------------- */

	#pause {

		position: absolute;
		left: 0;
		top: 0;
		width: 320px;
		height: 470px;
		background-color: rgba( 0, 0, 0, 0.9 );
		line-height: 470px;
		text-align: center;
		z-index: 2;
		display: none;
	}

/* ABOUT ------------------------------------------------------------------- */

	#about {

		position: absolute;
		left: 0;
		top: 0;
		width: 320px;
		height: 470px;
		background-color: rgba( 0, 0, 0, 0.9 );
		text-align: center;
		z-index: 2;
		display: none;
	}

/* GAME OVER ------------------------------------------------------------------- */

	#gameOver {

		position: absolute;
		left: 0;
		top: 0;
		width: 320px;
		height: 470px;
		background-color: rgba( 0, 0, 0, 0.9 );
		text-align: center;
		z-index: 3;
		display: none;
	}

	button {

		border: none;
		text-transform: uppercase;
		padding: 10px 20px;
		margin:10px;
		color: white;
		font-weight: bold;
	}

	button.yes {

		background-color: green;
		border-bottom: darkgreen 3px solid;
	}

	button.no {

		background-color: red;
		border-bottom: darkred 3px solid;
	}

	#newRecord {

		text-transform: uppercase;
		font-weight: bold;
		color: gold;
	}

/* APP CONSOLE ------------------------------------------------------------------- */

#appConsole {

    display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 450px;
	color: white;
	border: white 1px dashed;
	margin: -235px 0 0 160px;
	padding: 10px;
	overflow: auto;
	word-break: break-all;
    background-color: black;
    z-index: 10;
}

/* HELP PC ------------------------------------------------------------------- */

#helpPC {

    display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 270px;
	height: 420px;
	color: white;
    background-color: #1366A1;
	margin: -235px 0 0 -480px;
	padding: 25px;
	overflow: auto;
	font-family: monospace;
}
/* SIDEBAR ------------------------------------------------------------------- */

#sidebar {

	position: absolute;
	top: 50%;
	left: 50%;
	width: 270px;
	height: 420px;
	color: white;
    background-color: #1366A1;
	margin: -235px 0 0 160px;
	padding: 25px;
	overflow: auto;
	font-family: monospace;
}


/* TEXT ------------------------------------------------------------------- */


.txt12 {

	font-size: 12px;
}

.txt16 {

	font-size: 16px;
}

.txt18 {

	font-size: 18px;
}

.txt24 {

	font-size: 24px;
}

.txt32 {

	font-size: 32px;
}

.white {
	color: white !important;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

/* SCREEN WIDTH EQUAL OR GREATER THAN 960px -------------------------------------------------------------- */

@media ( min-width: 960px ) {
    
    #ads {
        
        display: block;
    }
    
    #helpPC {
        
        display: block;
    }
}