/*
 * INDEXES
 *
 * 01. HTML
 * 02. ANIMATIONS
 * 03. CONTAINERS
 * 04. CANVAS
 * 05. SETTINGS
 * 06. BUTTONS
 * 07. POPUPS
 *     0701. PAUSE
 *     0702. ABOUT
 *     0703. GAME OVER
 * 08. SIDEBARS
 *     0801. LEFT
 *     0802. RIGHT
 *     0803. APP CONSOLE
 * 09. FRAME
 * 10. CLASSES
 *     1001. ICONS
 *     1002. TEXT
 *     1003. PADDINGS
 * 11. SCREENS
 *     1101. SCREENS => 960
 */

/* 01. HTML-------------------------------------------------------------------*/

	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		overflow: hidden;
		margin: 0;
		padding: 0;
		background: #177CC5;
		font-family: "Fira Sans", monospace;
		font-size: 16px;
		color: white;
	}

	canvas {
	    background: white;
	}

	kbd {
		background: black;
		border: white 1px solid;
		padding: 5px;
		color: white;
		border-radius: 5px;
	}

	iframe {
	    border: none;
	}

	noscript {
		display: block;
		padding: 5px 0;
		text-align: center;
		color: #fff;
		background: #f00;
	}

/* 02. ANIMATIONS-------------------------------------------------------------*/

	@keyframes fadeout {
	    from {
	        opacity: 1;
	    }

	    to {
	        opacity: 0;
	        top: -100%;
	        z-index: 0;
	    }
	}

	@keyframes giro {
		to {
		    transform: rotate(360deg);
		    transform-origin: center center;
		}
	}

/* 03. CONTAINERS-------------------------------------------------------------*/

	#load {
		position: absolute;
	    left: 0;
	    top: 0;
		width: 100%;
		height: 100%;
	    box-sizing: border-box;
	    background: #177CC5;
	    z-index: 7;
	}
	    #logo {
	        position:absolute;
	        top: 50%;
	        left: 50%;
	        margin: -23px 0 0 -145px ;
	    }

	    #loadsvg {
	        position:absolute;
	        top: 50%;
	        left: 50%;
	        width: 32px;
	        height: 32px;
	        margin: 128px 0 0 -16px ;
	        animation: giro 1s linear infinite;
	    }

	#game {
		position: absolute;
	    left: 0;
	    top: 0;
		width: 320px;
		height: 480px;
		background-image: url('img/background.svg');
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	}

/* 04. CANVAS-----------------------------------------------------------------*/

	#screen {
		position: absolute;
		top: 5px;
		left: 5px;
	}

    #nextPiece {
        position: absolute;
        top: 5px;
        right: 5px;
		width: 100px;
        text-transform: uppercase;
    }

	#screenNextPiece {
		position: absolute;
		top: 40px;
		right: 5px;
        background: rgba( 0, 0, 0, 0 );
	}

	#info {
		position: absolute;
		top: 100px;
		right: 5px;
		width: 100px;
		text-transform: uppercase;
	}

		#info .numbers {
			text-align: right;
		}

/* 05. SETTINGS---------------------------------------------------------------*/

	#settings	{
		position: absolute;
		top: 290px;
		right: 5px;
		width: 100px;
		height: 100px;
	}

		#buttonPause {
			position: absolute;
			top: 0;
			left: 50%;
			width: 46px;
			height: 46px;
			background-image: url('img/button-pause.svg');
			background-repeat: no-repeat;
			margin-left: -23px;
			z-index: 3;
		}

		#buttonAudio {
			position: absolute;
			top: 56px;
			left: 0;
			width: 46px;
			height: 46px;
			background-image: url('img/button-audio-on.svg');
			background-repeat: no-repeat;
		}

		#buttonAbout {
			position: absolute;
			top: 56px;
			right: 0;
			width: 46px;
			height: 46px;
			background-image: url('img/button-about.svg');
			background-repeat: no-repeat;
			z-index: 3;
		}

/* 06. BUTTONS----------------------------------------------------------------*/

	#buttons {
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		height: auto;
	}
		.buttonRound {
            float: left;
			text-align: center;
			font-size: 50px;
			line-height: 50px;
            width: 60px;
            height: 60px;
            margin: 0 10px 0 10px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            box-sizing: border-box;
		}

        #buttonLeft {
            background-image: url(img/button-left.svg);
        }

        #buttonDown {
            background-image: url(img/button-down.svg);
        }

        #buttonRotate {
            background-image: url(img/button-rotate.svg);
        }

        #buttonRight {
            background-image: url(img/button-right.svg);
        }

/* 07. POPUPS-----------------------------------------------------------------*/

	/* 0701. PAUSE------------------------------------------------------------*/

		#pause {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba( 0, 0, 0, 0.9 );
			text-align: center;
			z-index: 2;
			display: none;
		}

	/* 0702. ABOUT------------------------------------------------------------*/

		#about {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba( 0, 0, 0, 0.9 );
			text-align: center;
			z-index: 2;
			display: none;
		}

	/* 0703. GAME OVER--------------------------------------------------------*/

		#gameOver {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba( 0, 0, 0, 0.9 );
			text-align: center;
			z-index: 3;
			display: none;
		}

		#gameOver button {
			border: none;
			text-transform: uppercase;
			padding: 10px 20px;
			margin:10px;
			color: white;
			font-weight: bold;
		}

		#gameOver button.yes {
			background: green;
			border-bottom: darkgreen 3px solid;
		}

		#gameOver button.no {
			background: red;
			border-bottom: darkred 3px solid;
		}

		#newRecord {
			text-transform: uppercase;
			font-weight: bold;
			color: gold;
		}

/* 08. SIDEBARS---------------------------------------------------------------*/

	/* 0801. LEFT-------------------------------------------------------------*/

		#leftSidebar {
		    display: none;
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			color: white;
		    background: #1366A1;
			padding: 25px;
			overflow: auto;
			font-family: monospace;
		}

	/* 0802. RIGHT------------------------------------------------------------*/

		#rightSidebar {
		    display: none;
			position: absolute;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			color: white;
		    background: #1366A1;
			padding: 25px;
			overflow: auto;
			font-family: monospace;
		}

	/* 0803. APP CONSOLE------------------------------------------------------*/

		#appConsole {
		    display: none;
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			color: white;
			border: white 1px solid;
			padding: 10px;
			overflow: hidden;
			word-break: break-all;
		    background: black;
		    z-index: 4;
		}

/* 09. FRAME------------------------------------------------------------------*/

    #frame {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white
					url(img/load.gif)
        			no-repeat
        			center center;
        z-index: 5;
    }

    #frameClose {
        position: absolute;
        top:0;
        right:0;
        width: 32px;
        height: 32px;
        background-image: url(img/close.svg);
        background-repeat: no-repeat;
        z-index: 6;
    }

/* 10. CLASSES----------------------------------------------------------------*/

	/* 1001. ICONS -----------------------------------------------------------*/

		.icon {
		    margin: 5px;
		}

	/* 1002. TEXT ------------------------------------------------------------*/

		.txt12 {
			font-size: 12px;
		}

		.txt14 {
			font-size: 14px;
		}

		.txt16 {
			font-size: 16px;
		}

		.txt18 {
			font-size: 18px;
		}

		.txt24 {
			font-size: 24px;
		}

		.txt32 {
			font-size: 32px;
		}

		.white {
			color: white !important;
		}

		.hide {
			visibility: hidden;
		}

		.show {
			visibility: visible;
		}

		.tleft {
		    text-align: left;
		}

		.tright {
		    text-align: right;
		}

		.tcenter {
		    text-align: center;
		}

	/* 1003. PADDINGS --------------------------------------------------------*/

		.paddingH10 {
		    padding: 0 10%;
		}

		.paddingH25 {
		    padding: 0 25%;
		}

/* 11. SCREENS----------------------------------------------------------------*/

	/* 1101. SCREEN WIDTH EQUAL OR GREATER THAN 960px-------------------------*/

		@media ( min-width: 960px ) {
		    #game {
		        left: 50%;
		        top: 50%;
		        margin: -235px 0 0 -160px;
		    }

		    #rightSidebar {
		        display: block;
		    }

		    #leftSidebar {
		        display: block;
		    }
		}
