body {

	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #177CC5;
	font-family: "Fira Sans", monospace;
	font-size: 16px;
	color: white;
}

canvas {
    background-color: white;
}

kbd {

	background-color: black;
	border: white 1px solid;
	padding: 5px;
	color: white;
	border-radius: 5px;
}

iframe {

    border: none;
}
@keyframes fadeout {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        top: -480px;
        z-index: 0;
    }
}
#load {

	position: absolute;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
    box-sizing: border-box;
    background-color: rgba( 0, 0, 0, 0.9 );
    background-color: #177CC5;
    z-index: 7;
    /* Fadeout animation */
    animation-name: fadeout;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    #logo {

        position:absolute;
        top: 50%;
        left: 50%;
        margin: -23px 0 0 -145px ;
    }

    @keyframes giro {
        to {
            transform: rotate(360deg);
            transform-origin: center center;
        }
    }
    #loadsvg {

        position:absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        margin: 128px 0 0 -16px ;
        animation: giro 1s linear infinite;
    }

#game {

	position: absolute;
    left: 0;
    top: 0;
	width: 320px;
	height: 480px;
	background-image: url('img/background.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* CANVAS BEGIN ----------------------------------------------------------------- */

	#screen {

		position: absolute;
		top: 5px;
		left: 5px;
	}

    #nextPiece {

        position: absolute;
        top: 5px;
        right: 5px;
		width: 100px;
        text-transform: uppercase;
    }

	#screenNextPiece {

		position: absolute;
		top: 40px;
		right: 5px;
        background-color: rgba( 0, 0, 0, 0 );
	}

	#info {

		position: absolute;
		top: 100px;
		right: 5px;
		width: 100px;
		text-transform: uppercase;
	}

		#info .numbers {

			text-align: right;
		}

/* CANVAS END ----------------------------------------------------------------- */

/* SETTINGS BEGIN ----------------------------------------------------------------- */

	#settings	{

		position: absolute;
		top: 290px;
		right: 5px;
		width: 100px;
		height: 100px;
	}

		#buttonPause {

			position: absolute;
			top: 0;
			left: 0;
			width: 46px;
			height: 46px;
			background-image: url('img/button-pause.svg');
			background-repeat: no-repeat;
			z-index: 3;
		}

		#buttonAudio {

			position: absolute;
			top: 56px;
			left: 0;
			width: 46px;
			height: 46px;
			background-image: url('img/button-audio-on.svg');
			background-repeat: no-repeat;
		}

		#buttonAbout {

			position: absolute;
			top: 56px;
			right: 0;
			width: 46px;
			height: 46px;
			background-image: url('img/button-about.svg');
			background-repeat: no-repeat;
			z-index: 3;
		}

		#buttonRanking {

			position: absolute;
			top: 0;
			right: 0;
			width: 46px;
			height: 46px;
			background-image: url('img/button-ranking.svg');
			background-repeat: no-repeat;
			z-index: 3;
		}

/* SETTINGS END ----------------------------------------------------------------- */

/* BUTTONS BEGIN ----------------------------------------------------------------- */

	#buttons {

		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		height: auto;
	}
		.buttonRound {

            float: left;
			text-align: center;
			font-size: 50px;
			line-height: 50px;
            width: 60px;
            height: 60px;
            margin: 0 10px 0 10px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            box-sizing: border-box;
		}

        #buttonLeft {

            background-image: url(img/button-left.svg);
        }

        #buttonDown {

            background-image: url(img/button-down.svg);
        }

        #buttonRotate {

            background-image: url(img/button-rotate.svg);
        }

        #buttonRight {

            background-image: url(img/button-right.svg);
        }

/* END BUTTONS ----------------------------------------------------------------- */

/* PAUSE ------------------------------------------------------------------- */

	#pause {

		position: absolute;
		left: 0;
		top: 0;
		width: 320px;
		height: 480px;
		background-color: rgba( 0, 0, 0, 0.9 );
		text-align: center;
		z-index: 2;
		display: none;
	}

/* ABOUT ------------------------------------------------------------------- */

	#about {

		position: absolute;
		left: 0;
		top: 0;
		width: 320px;
		height: 480px;
		background-color: rgba( 0, 0, 0, 0.9 );
		text-align: center;
		z-index: 2;
		display: none;
	}

/* GAME OVER ------------------------------------------------------------------- */

	#gameOver {

		position: absolute;
		left: 0;
		top: 0;
		width: 320px;
		height: 480px;
		background-color: rgba( 0, 0, 0, 0.9 );
		text-align: center;
		z-index: 3;
		display: none;
	}

	button {

		border: none;
		text-transform: uppercase;
		padding: 10px 20px;
		margin:10px;
		color: white;
		font-weight: bold;
	}

	button.yes {

		background-color: green;
		border-bottom: darkgreen 3px solid;
	}

	button.no {

		background-color: red;
		border-bottom: darkred 3px solid;
	}

	#newRecord {

		text-transform: uppercase;
		font-weight: bold;
		color: gold;
	}

/* APP CONSOLE ------------------------------------------------------------------- */

#appConsole {

    display: none;
	position: absolute;
	top: 0;
	left: 320px;
	width: 300px;
	height: 450px;
	color: white;
	border: white 1px dashed;
	padding: 10px;
	overflow: auto;
	word-break: break-all;
    background-color: black;
    z-index: 4;
}

/* SIDEBARS ------------------------------------------------------------------- */

#leftSidebar {

    display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 270px;
	height: 430px;
	color: white;
    background-color: #1366A1;
	margin: -235px 0 0 -480px;
	padding: 25px;
	overflow: auto;
	font-family: monospace;
}

#rightSidebar {

    display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 270px;
	height: 430px;
	color: white;
    background-color: #1366A1;
	margin: -235px 0 0 160px;
	padding: 25px;
	overflow: auto;
	font-family: monospace;
}

/* FRAME ------------------------------------------------------------------- */

    #frame {

        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 320px;
        height: 420px;
        background-color: white;
        background-image: url(img/load.gif);
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 5;
    }

    #frameClose {

        position: absolute;
        top:0;
        right:0;
        width: 32px;
        height: 32px;
        background-image: url(img/close.svg);
        background-repeat: no-repeat;
        z-index: 6;
    }

/* ICONS ------------------------------------------------------------------- */

.icon {

    margin: 5px;
}

/* TEXT ------------------------------------------------------------------- */

.txt12 {

	font-size: 12px;
}

.txt14 {

	font-size: 14px;
}

.txt16 {

	font-size: 16px;
}

.txt18 {

	font-size: 18px;
}

.txt24 {

	font-size: 24px;
}

.txt32 {

	font-size: 32px;
}

.white {
	color: white !important;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.tcenter {
    text-align: center;
}

/* TEXT ------------------------------------------------------------------- */

.paddingH10 {

    padding: 0 10%;
}

.paddingH25 {

    padding: 0 25%;
}

/* SCREEN WIDTH EQUAL OR GREATER THAN 960px -------------------------------------------------------------- */

@media ( min-width: 960px ) {

    #game,
    #appConsole,
    #frame {

        left: 50%;
        top: 50%;
        margin: -235px 0 0 -160px;
    }

    #appConsole {

        margin: -235px 0 0 160px;
    }

    #frame {

        margin: -180px 0 0 -160px;
    }

    #rightSidebar {

        display: block;
    }

    #leftSidebar {

        display: block;
    }
}